.navbar {
    display: flex;
    height: 50px;
    justify-content: center;
    background-color: white;
    width: 100%;
  }
  .navbar__header {
    margin-left: 10px;
    color: #4294FF;
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1200 - 320)));
    font-weight: 700;
  }
  .navbar__login {
    margin-left: auto;
    margin-right: 20px;
  }
  .navbar__search{
    display: flex;
    width: calc(150px + (200 - 150) * ((100vw - 320px) / (1200 - 320)));
    height: 40px;
    align-items: center;
    margin-left: 30px;
    border-bottom: #4294FF solid 3px;
  }
  .navbar__search img{
    margin-bottom: 5px;
  }
  .search__input{
    border: none;
  }
  .navbar__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .container {
    width: 1140px;
    display: flex;
    align-items: center;
  }
  @media screen and (max-width : 1150px){
    .navbar{
      padding: 0 30px;
    }
  }
  @media screen and (max-width : 540px){
    .navbar__header{display: none;}
  }
  @media screen and (max-width : 450px){
    .search__input::placeholder{
      display: none;
    }
  }